<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <script lang='ts'>
      let lastScroll = 0;

      window.addEventListener("scroll", () => {
        const navbar = document.querySelector("header");
        const current = window.scrollY;

        if (!navbar) {return}

        if (current > lastScroll && current > 100) {
          navbar.style.transform = "translateY(-100%)";
        } else {
          navbar.style.transform = "translateY(0)";
        }

        lastScroll = current;
      });
    </script>
  </body>
</html>